
*

h1{

  text-align: center;
  font-size: large;
}

h1:first-letter{
  text-transform: uppercase;
   font-size: xx-large;
}

h1:ten-letter{
  text-transform: uppercase;
   font-size: xx-large;
}

#content-container{
  width: 100%;
  overflow: auto;
}

.content-left{
  width: 40%;

  margin: 0 auto;
}

.content-right{
  width: 40%;
  margin: 0 auto;
}

.float-left{
  float: left;

}

.footer{
  width: 100%
  margin 0 auto;
  text-align: center;

}


