


.content-container{
  width: 100%;
  overflow: auto;
}

.content-left{
  width: 40%;

  margin: 0 auto;
}

.content-right{
  width: 40%;
  margin: 0 auto;
}

.float-left{
  float: left;

}

.footer{
  width: 100%
  margin 0 auto;
  text-align: center;

}


